extends layout

block content

  // Header Section
  header#header
    include members-header

  // Main Content Section
  main
    // Sidebar (Navigation) Section
    nav#sidebar
      include members-sidebar

    // Main Content Area
    section#main-content
      include finance-content

  // Footer Section
  footer#footer
    include footer

