// Header Container
div#header-container
    // Logo and Text Container
    div#logo-text-container
        // Clickable Logo Link
        a(href="/")
          img#header-logo(src="/images/logo.png", alt="Logo")

        // Header Text
        h1#header-text #{title}

    // Login Form Container
    div#login-container
        // Login Form
        form#login-form(action="/users", method="POST")
            input(type="text", placeholder="Username", name="username")
            input(type="password", placeholder="Password", name="password")
            button(type="submit") Login

