doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Propolis
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ajax.js") // Include JavaScript file for ajax functionality
 

body#body
  block content
