// main-content.pug
// Content for the main section goes here
p Welcome to the Propolis Member Portal. More information on propolis is available in the about section. If you do not yet have a login you will need to visit the register section to set up your login credentials.
