extends layout

block content

  // Header Section
  header#header
    include users-header

  // Main Content Section
  main
    // Sidebar (Navigation) Section
    nav#sidebar
      include users-sidebar

    // Main Content Area
    section#main-content
      include marketplace-content

  // Footer Section
  footer#footer
    include footer

