// Header Container
div#header-container
    // Logo and Text Container
    div#logo-text-container
        // Clickable Logo Link
        a(href="/")
          img#header-logo(src="/images/logo.png", alt="Logo")

        // Header Text
        h1#header-text #{title}
