// Register Form Container
div#register-form-container
    h2 Register
    // Register Form
    form#register-form(action="/register", method="POST")
        // Username Input
        div.form-group
            label(for="username") Username:
            input#username.form-control(type="text", placeholder="Enter username", name="username", required)
        
        // Password Input
        div.form-group
            label(for="password") Password:
            input#password.form-control(type="password", placeholder="Enter password", name="password", required)
        
        // Confirm Password Input
        div.form-group
            label(for="confirm_password") Confirm Password:
            input#confirm_password.form-control(type="password", placeholder="Confirm password", name="confirm_password", required)
        
        // Register Button
        button.btn.btn-primary(type="submit") Register

