div.sidebar-list-links
    ul
        // Home Link
        li: a(href="/users") Home
        li: a(href="/worklife") Worklife
        li: a(href="/personal") Personal
        li: a(href="/communication") Communication
        li: a(href="/marketplace") marketplace
        li: a(href="/finance") Finance
        // Add more sidebar links as needed
